* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color:var(--secondary-text-color);
    color:var(--primary-text-color);
    height: 100px;
}

header h1 {
    font-size: 52px;
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
    font-weight: normal;
    padding: 20px 20px 20px 120px;
}

body {
    background-color: var(--secondary-text-color);
    color:var(--primary-text-color);
}

.section-title {
    width: 20%;
    font-size: 50px;
    margin-right: 50px;
    padding: 25px;
    text-align: right;
    border-right: 2px solid var(--primary-text-color);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 a, nav ul li a {
    text-decoration: none;
    color: var(--primary-text-color);
    margin: 5px 25px;
}

nav ul li {
    display: inline-block;
    margin: 5px 25px;
}

.hero {
    background-image: url("../images/brian-lockerbie-header.jpg");
    background-size: 100%;
    background-position: 100% 80%;
    color: var(--primary-text-color);
    padding: 25px;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    text-align: right;
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 1.1;
    margin: 5px 25px;
}

.hero h2 {
    font-size: 58px;
}

.vert {
    font-size: 40px;
    font-style: bold;
}

.hero-img img {
    max-height: 200px;
    margin: 5px 25px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.85);
}

.hero-text ul {
    text-decoration: none;
    list-style-type: none;
}

.hero-text ul li {
    display: inline-block;
}

/* Variables */
:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
}

.about-me {
    display: flex;
    justify-content: space-between;
    margin: 50px 80px 50px 25px;
    align-items: center;
    height: 150px;
    scroll-margin-top: 115px;
}

.about-me p {
    text-align: left;
    width: 80%;
}

.work {
    margin: 25px 80px 25px 25px;
    display: flex;
    align-items: center;
    height: 600px;
    justify-content: space-between;
}

.projects {
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects div {
    color: var(--primary-text-color);
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.projects div h4 {
    font-size: 20px;
    padding: 30px 30px;
}

.projects div:first-child {
    width: 100%;
}

.projects div:first-child h4 {
    font-size: 35px;
}

#run-buddy {
    background-image: url("../images/run-buddy-2.png");
    background-size: 100%;
    background-position-y: 30%;
}

#horiseon {
    background-image: url("../images/horiseon-2.png");
    background-size: 100%;
}

.projects a {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    padding: 5px;
}

.contact-me {
    display: flex;
    margin: 10px 80px 10px 25px;
    align-items: center;
    height: 150px;
    justify-content: space-between;
}

.contact {
    width: 80%;
    text-align: right;
}

.contact ul li {
    display: inline-block;
    margin: 10px;
}

.contact ul li a{
    text-decoration: none;
    list-style-type: none;
    color: var(--primary-text-color);
    padding: 5px;
}

#run-buddy:hover {
    background-image: url("../images/run-buddy.png");
}

#horiseon:hover {
    background-image: url("../images/horizon.png");
}

.contact ul li a:hover, nav ul li a:hover {
    border-bottom: 1px solid var(--primary-text-color);
}

/* Media Queries */
@media screen and (max-width: 1250px) and (min-width: 980px) {
    .section-title {
        border-right: none;
    }
}

/* Media Query for Smaller Desktop Screens */
@media screen and (max-width: 980px) {
    header {
        padding: 10px 0px;
        justify-content: center;
        display: block;
    }

    header h1 a {
        display: block;
        text-align: center;
        font-size: 90%;
        padding: 5px 0px;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 80%;
    }

    .hero {
        padding: 0 30px;
        height: 300px;
    }
    
    .hero-text {
        width: 50%;
        font-size: 15px;
    }

    .hero h2 {
        font-size: 50px;
    }

    .hero-img {
        width: 50%;
    }

    .vert {
        font-size: 15px;
    }

    .hero-img img {
        max-height: 175px;
    }

    .section-title {
        width: 15%;
        font-size: 20px;
    }

    .about {
        margin: 50px 40px 50px 25px;
        align-items: center;
        height: auto;
        scroll-margin-top: 115px;
    }
    
    .about p {
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 1.3;
    }

    .work {
        height: 550px;
        margin: 25px 40px 25px 25px;
    }   

    .projects h4 {
        font-size: 15px;
        padding: 15px 15px;
    }

    .projects div:first-child h4 {
        font-size: 25px;
    } 

    .contact {
        height: 120px;
        margin: 10px 40px 10px 25px;
    }
    
    .contact-list {
        width: 80%;
        text-align: right;
    }
    
    .contact ul li {
        margin: var(--margin-standard);
        font-size: 90%;
    }
    
    footer h2 {
        font-size: 18px;
    }

    footer a {
        font-size: 90%;
    }
}

/* Media Query For Tablets & Smaller */
@media screen and (max-width: 768px) {
    .section-title {
        border-right: none;
        margin-right: 15px;
    }

    .hero {
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
    }

    .hero-text {
        width: 100%;
        text-align: center;
        margin: 0;
        order: 2;
        font-size: 12px;
    }
    
    .hero h2 {
        font-size: 40px;
    }

    .hero-img {
        width: 100%;
        text-align: center;
    }

    .hero-img img {
        max-height: 150px;
        border-radius: 15px;
    }

    .vert {
        font-size: 15px;
        font-style: bold;
    }

    .about {
        margin: 35px 15px 15px 15px;
        align-items: center;
        height: auto;
        scroll-margin-top: 100px;
    }

    .about p {
        width: 90%;
        margin: 15px;
    }

    .work {
        height: 550px;
        margin: 15px;
    }   

    .projects div {
        margin: 15px;
    }
    
    .projects, .contact-list {
        width: 90%;
    }

    .contact {
        height: auto;
        margin: 0 15px 25px 15px;
    }
}

/* Media Query For Mobile Phones & Smaller */
@media screen and (max-width: 575px) {
    header h1 a {
        font-size: 80%;
    }

    header nav ul {
        width: 100%;
        justify-content: center;
        text-align: center;
        font-size: 80%;
    }

    nav ul li {
        display: inline-block;
        margin: 3px 10px;
    }

    nav ul li a, .contact ul li a {
        padding: 3px;
    }

    .hero-img img {
        max-height: 125px;
        border-radius: 15px;
    }

    .section-title {
        font-size: 18px;
    }

    .about p {
        font-size: 11px;
    }

    .projects div {
        margin: 10px;
    }

    .projects h4 {
        font-size: 10px;
        padding: 10px;
    }

    .projects div:first-child h4 {
        font-size: 20px;
    } 

    .contact ul li {
        margin: 5px;
    }
}